@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background: #050816;
  color: white;
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

.container-custom {
  margin-left: auto;
  margin-right: auto;
  max-width: 1400px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.glass {
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.03);
  backdrop-filter: blur(24px);
}

.section-padding {
  @apply py-32 md:py-40 xl:py-48;
}

@media (min-width: 768px) {
  .section-padding {
    padding-top: 9rem;
    padding-bottom: 9rem;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: -0.03em;
}

p {
  line-height: 1.8;
}